@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display">WELCOME TO OK ZIMBABWE Limited</h1>
    <p>Shop with us at anytime, anywhere. </p>
</div>

<div class="promo">
    <h2>My Happy Place</h2>
</div>

<div class="groceries">
    <img src="~/css/images/groceries.jpg" />

</div>
